
$darkestGrey: #1c1c1c;
$darkerGrey: #3a3a3a;
$darkgrey: #707070;
$grey: #8a8a8a;
$lightGrey: #fafafa;
$mediumGrey: #e6e6e6;
$hdGreen: #588c73;
$cream:#f5f2ef;

.colour-red {
	color: $mitsuRed;
}
.colour-black {
	color: black;
}

.colour-white {
  	color: #FFFFFF;
}

.background-grey {
	background: $mediumGrey;
}

.background-white {
    background-color: #FFF;
}

.background-red {
  	background-color: $mitsuRed;
}


